* {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1530px;
  margin: auto;
}

@media (max-width: 1530px) {
  .container {
    max-width: 1199px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
body {
  color: white;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 22px;
}

img {
  max-width: 100%;
}

a {
  color: white;
}

.section {
  padding-top: 120px;
}
.section-title {
  text-align: center;
}
.section__title {
  line-height: 60px;
  margin-bottom: 55px;
}

.buisness-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #9FCCFF;
  letter-spacing: 0.1em;
  opacity: 0.7;
}

.button {
  width: 263px;
  padding: 25px 55px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  cursor: pointer;
}
.button::after, .button::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparrent;
}
.button::after {
  border-right: 1px solid white;
  border-top: 1px solid white;
  top: -1px;
  right: -1px;
}
.button::before {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  bottom: -1px;
  left: -1px;
}
.button:hover:after, .button:hover:before {
  content: none;
}
.button:hover {
  border: 1px solid white;
}
.button:active {
  background-color: #fff;
  color: #227CE4;
}

.form-stepper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form-stepper__number {
  width: 49px;
  height: 49px;
  padding: 12px;
  border: 1px solid rgba(159, 204, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9FCCFF;
}
.form-stepper__text {
  font-size: 16px;
  line-height: 24px;
  color: #BCC9DA;
}

input {
  cursor: pointer;
}

input[type=radio] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(34, 124, 228, 0.36);
  cursor: pointer;
}

input[type=radio]::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #227CE4;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=text] {
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input[type=text]:focus {
  border-bottom: 1px solid white;
}

input[type=checkbox] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 22px;
  width: 22px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type=checkbox]::before {
  content: "";
  display: block;
  height: 13px;
  width: 13px;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

.header {
  padding: 10px 0px;
  height: 70px;
  background-color: #1A2633;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;
}
.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.nav__link:hover {
  color: #227CE4;
}
.nav__link_active {
  position: relative;
}
.nav__link_active::after {
  content: "";
  position: absolute;
  top: 125%;
  left: 50%;
  width: 1px;
  height: 16px;
  background-color: white;
}
.nav__link_active:hover::after {
  background-color: #227CE4;
}

.lang-switch {
  padding: 15px 13px;
  border: 1px solid #80828D;
  cursor: pointer;
}

.hero {
  height: 879px;
  background: url("../img/hero/plane.jpg") right top no-repeat, url("../img/hero/flowers.jpg") left top no-repeat;
}
.hero-wrapper {
  display: flex;
  justify-content: end;
  padding-top: 80px;
}
.hero-text {
  padding-right: 40px;
  max-width: 750px;
}
.hero-text__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero-text__title {
  position: relative;
  margin-top: 20px;
}
.hero-text__title::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 13px;
  display: block;
  width: 1px;
  height: 58px;
  background-color: #fff;
}
.hero-text__item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.hero-text__item::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 10px;
  width: 5px;
  height: 5px;
  background-color: #9FCCFF;
  border-radius: 50%;
}
.hero-text__term {
  margin-top: 22px;
  font-weight: 600;
}
.hero-contacts {
  padding-left: 40px;
  position: relative;
}
.hero-contacts::before {
  content: "";
  position: absolute;
  left: 0;
  height: 60px;
  width: 1px;
  background-color: #fff;
}
.hero-contacts__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero-contacts__item:first-child {
  margin-bottom: 16px;
}
.hero-contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.hero-contacts__button {
  margin-top: 36px;
}
.hero-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.hero-flowers {
  display: flex;
  gap: 30px;
}
.hero-flowers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.hero-flowers__item:hover, .hero-flowers__item .flowers__name {
  color: rgba(255, 255, 255, 0.5);
}
.hero-flowers__name {
  margin-top: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.hero-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-top: 90px;
  text-align: center;
  min-width: 320px;
  height: 360px;
  background: url("../img/hero/equador.svg") 0 0/cover no-repeat;
}
.hero-map__title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.hero-map__descr {
  font-size: 12px;
  line-height: 24px;
}

@media (min-width: 1920px) {
  .hero {
    background: url("../img/hero/plane.jpg") right top no-repeat, url("../img/hero/flowers5.jpg") left top/contain no-repeat;
  }
}
.about {
  padding-bottom: 120px;
  background-color: #1A2633;
}
.about-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.about-card {
  position: relative;
  display: flex;
  padding: 40px;
  width: 490px;
  height: 170px;
  background: #23303F;
  border: 1px solid rgba(85, 122, 161, 0.3);
}
.about-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-card__title {
  line-height: 37px;
  color: #9FCCFF;
}
.about-card__descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #BCC9DA;
}
.about-card::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 50px;
  background: #9FCCFF;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.about-img {
  position: relative;
  margin-right: 30px;
  width: 60px;
  height: 82px;
}
.about-img__back {
  position: absolute;
  z-index: 0;
}
.about-img__front {
  position: absolute;
  top: 25px;
  left: -10px;
  z-index: 1;
}

.from {
  position: relative;
  height: 847px;
  background-image: url("../../img/from/plane-bg.png");
  background-color: #041D2C;
  background-size: cover;
}
.from-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
.from-text {
  max-width: 570px;
}
.from-text__name {
  margin-bottom: 30px;
}
.from-text__title {
  line-height: 60px;
  margin: 30px 0 55px 0;
}
.from-text__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 242px;
  margin-bottom: 90px;
}
.from-text__descr span {
  font-size: 16px;
  line-height: 24px;
  color: #BCC9DA;
}
.from-text__descr strong {
  color: white;
}
.from-img {
  position: relative;
  top: 50px;
}

.countries {
  position: absolute;
  top: 0px;
  left: 70%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 170px;
  transform: rotate(90deg);
  transform-origin: top left;
}

.country {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.country__strip {
  width: 50px;
  height: 1px;
  margin-right: 17px;
  background: #BCC9DA;
  opacity: 0.36;
}
.country__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #BCC9DA;
  opacity: 0.36;
}
.country__descr {
  position: absolute;
  top: -25px;
  left: 75px;
  display: none;
  width: 190px;
  font-size: 14px;
  line-height: 24px;
  color: #BCC9DA;
  transform: rotate(-90deg);
}
.country__descr strong {
  color: white;
  opacity: 1;
}
.country__descr_active {
  display: block;
}
.country__active .country__name {
  color: #227CE4;
  opacity: 1;
}
.country__active .country__strip {
  background-color: #227CE4;
  opacity: 1;
}
.country:hover .country__name {
  color: white;
  opacity: 1;
}
.country:hover .country__strip {
  background-color: white;
  opacity: 1;
}

.calculator {
  padding: 120px 0 120px 0;
  background: #16212E;
}
.calculator-wrapper {
  display: flex;
  gap: 80px;
}
.calculator-visualization {
  padding: 60px 50px 30px 47px;
  background: #23303F;
  border: 1px solid rgba(85, 122, 161, 0.2);
}
.calculator-form__stepper {
  margin-top: 30px;
  max-width: 570px;
}
.calculator-form-radios {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.calculator-form-radios label {
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.calculator-form-radio {
  display: flex;
  align-items: center;
  gap: 16.5px;
  width: 50%;
  margin-bottom: 20px;
}

.tariff {
  padding: 120px 0;
  background-image: url("../../img/tariff/tariff-background.png");
  background-color: #041D2C;
  background-size: cover;
}
.tariff-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.tariff-card {
  position: relative;
  padding: 60px 40px;
  width: 490px;
  height: 266px;
  background: #23303F;
  border: 1px solid rgba(85, 122, 161, 0.3);
}
.tariff-card-download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 266px;
  background: url("../img/tariff/download-bg.png") 0 0/cover;
}
.tariff-card__wrapper {
  display: flex;
  margin-bottom: 42px;
}
.tariff-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tariff-card__title {
  line-height: 37px;
  color: #9FCCFF;
}
.tariff-card__descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #BCC9DA;
}
.tariff-card__footer {
  font-size: 16px;
  line-height: 22px;
  color: #BCC9DA;
}
.tariff-card::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 50px;
  background: #9FCCFF;
  left: -1px;
  top: 40%;
  transform: translateY(-50%);
}
.tariff-img {
  position: relative;
  margin-right: 30px;
  width: 60px;
  height: 82px;
}
.tariff-img__back {
  position: absolute;
  z-index: 0;
}
.tariff-img__front {
  position: absolute;
  top: 25px;
  left: -10px;
  z-index: 1;
}

.order__wrapper {
  display: flex;
  height: 585px;
}
.order-form {
  background: url("../img/order/background.png") 0 0/cover no-repeat;
  width: 50%;
  padding: 120px 0;
}
.order-form__container {
  max-width: 620px;
  margin: auto;
}
.order-form__buisness-name {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.7;
}
.order-form__title {
  margin: 20px 0 30px 0;
}
.order-form__description {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 24px;
}
.order-form__inputs {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.order-form__inputs input {
  width: 50%;
}
.order-form__footer {
  display: flex;
}
.order-form__footer button {
  width: 50%;
}
.order-form__checkbox {
  width: 50%;
  display: flex;
  align-items: center;
}
.order-form__checkbox input {
  margin-right: 16px;
}
.order-form__checkbox span {
  display: inline-block;
  width: 80%;
  font-size: 14px;
  line-height: 22px;
}
.order-img-first {
  background: url("../img/order/flowers1.png") 0 0/cover no-repeat;
  width: 25%;
}
.order-img-second {
  background: url("../img/order/flowers2.png") 0 0/cover no-repeat;
  width: 25%;
}/*# sourceMappingURL=style.css.map */