body 
  color: $text-color
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-weight: 600
  margin: 0


h1
  font-size: 72px

h2
  font-size: 50px

h3
  font-size: 42px

h4
  font-size: 36px

h5
  font-size: 30px

h6
  font-size: 22px

img
  max-width: 100%  

.section
  padding-top: 120px
  &-title
    text-align: center
  &__name
    
  &__title
    line-height: 60px
    margin-bottom: 55px

.buisness-name
  font-weight: 500
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  color: $secondary
  letter-spacing: 0.1em
  opacity: 0.7


.button 
  width: 263px
  padding: 25px 55px
  font-weight: 500
  font-size: 12px
  line-height: 15px
  border: 1px solid rgba(255, 255, 255, 0.36)
  background-color: rgba(0,0,0,0)
  color: white
  text-transform: uppercase
  letter-spacing: 0.1em
  position: relative
  cursor: pointer
  
  &::after, &::before
    position: absolute
    content: ''
    display: block
    width: 30px
    height: 30px
    background-color: transparrent
    
  &::after
    border-right: 1px solid white
    border-top: 1px solid white
    top: -1px
    right: -1px
  &::before 
    border-left: 1px solid white
    border-bottom: 1px solid white
    bottom: -1px
    left: -1px

  &:hover:after, &:hover:before
    content: none
  &:hover 
    border: 1px solid white

  &:active 
    background-color: #fff
    color: $primary  