.footer {
  min-height: 130px;
  background: #1A2633;
  padding: 40px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 145px;

    &__link {
      font-size: 12px;
      line-height: 15px;

      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;

      color: #BCC9DA;

      opacity: 0.8;

      &:hover {
        color: #227CE4;
        opacity: 1;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;

    &__img {
      margin-right: 14px;
    }

    &__item {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 24px;

      color: #BCC9DA;
    }
  }

  &-copyright {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;

    & span {
      font-size: 14px;
      line-height: 24px;
      color: #BCC9DA;
    }
  }
}