.from {
  position: relative;
  height: 847px;
  padding-top: 120px;
  background-image: url("../../img/from/plane-bg.png");
  background-color: #041D2C;
  background-size: cover;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    max-width: 570px;
    &__name{
      margin-bottom: 30px;
    }

    &__title {
      line-height: 60px;
      margin: 30px 0 55px 0;
    }

    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 242px;
      margin-bottom: 90px;
      
      & span {
        font-size: 16px;
        line-height: 24px;
        color: #BCC9DA;
      }

      & strong {
        color: white;
      }
    }
  }

  &-img {
    position: relative;
    z-index: 1;
    top: 50px;
  }
}

.countries {
  position: absolute;
  top: 0px;
  left: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 170px;

  transform: rotate(90deg);
  transform-origin: top left;
}

.country {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__strip {
    width: 50px;
    height: 1px;
    margin-right: 17px;
    background: #BCC9DA;
    opacity: 0.36;
  }
  &__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #BCC9DA;
    opacity: 0.36;
  }
  &__descr {
    position: absolute;
    top: -25px;
    left: 75px;
    display: none;
    width: 190px;
    font-size: 14px;
    line-height: 24px;
    color: #BCC9DA;
    & strong {
      color: white;
      opacity: 1;
    }
    transform: rotate(-90deg);
    &_active {
      display: block;
    }
  }

  &__active &__name{
    color: #227CE4;
    opacity: 1;
  }

  &__active &__strip{
    background-color: #227CE4;
    opacity: 1;
  }

  &:hover &__name{
    color: white;
    opacity: 1;
  }
  &:hover &__strip{
    background-color: white;
    opacity: 1;
  }
}

@media (max-width: 1530px) {
  .from {
    padding-top: 90px;
  
    &-text {
      max-width: 368px;
      &__name{
        font-size: rgb(101, 168, 255);
        line-height: 12px;
      }
  
      &__title {
        font-size: 32px;
        margin: 15px 0 25px 0;
      }
  
      &__descr {
        height: 242px;
        margin-bottom: 40px;
        
        & span {
          font-size: 13px;
        }
      }
    }
  
    &-img {
      position: relative;
      top: 0px;
      align-self: end;
      width: 565px;
      // height: 307px;
    }
  }
  
  .countries {
    left: 90%;
    gap: 45px;
  }
}

@media (max-width: 1000px) {
  .from {
    position: relative;
    padding-top: 60px;
    background-image: url("../../img/from/plane-bg.png");
    background-color: #041D2C;
    background-size: cover;
  
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    &-text {
      max-width: initial;
      text-align: center;
      margin-bottom: 25px;

      &__name{
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 30px;
      }
  
      &__title {
        font-size: 28px;
        line-height: 32px;
        margin: 10px 0 30px 0;
      }
  
      &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        height: initial;
        margin-bottom: 30px;
        text-align: left;
        
        & span {
          font-size: 13px;
          line-height: 20px;
          color: #BCC9DA;
        }
  
        & strong {
          color: white;
        }
      }

      & button {
        height: 58px;
      }
    }
  
    &-img {
      position: relative;
      top: initial;
      bottom: 0;
    }
  }
  
  .countries {
    position: absolute;
    top: initial;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 170px;
  
    transform: translateX(120%) rotate(-90deg);
    transform-origin: bottom left;
  }
  
  .country {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &__strip {
      width: 50px;
      height: 1px;
      margin-right: 17px;
      background: #BCC9DA;
      opacity: 0.36;
    }
    &__name {
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      color: #BCC9DA;
      opacity: 0.36;
    }
    &__descr {
      position: absolute;
      z-index: 15;
      top: -25px;
      left: 75px;
      display: none;
      width: 190px;
      font-size: 14px;
      line-height: 24px;
      color: #BCC9DA;
      & strong {
        color: white;
        opacity: 1;
      }
      transform: rotate(90deg);
      &_active {
        display: block;
      }
    }
  }
}