.header {
  padding: 10px 0px;
  height: 70px;
  background-color: #1A2633;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 86px;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

    &:hover {
      color: $primary;
    }

    

    &_active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 125%;
        left: 50%;
        width: 1px;
        height: 16px;
        background-color: white;
      }

      &:hover::after {
        background-color: $primary;
      }

    }
  }
}

.lang{
  position: relative;
  cursor: pointer;
  &__switch {
    position: relative;
    padding: 15px 13px;
    border: 1px solid #80828D;
    margin-right: 20px;
  
    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 6.5px;
      display: block;
      background: url(../img/header/arrow.svg);
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
    }
  }

  &__options {
    position: absolute;
    top: 63px;
    z-index: 20;
    padding: 15px;
    display: block;
    width: 68px;
    height: 145px;
    background: #23303F;
    border: 1px solid rgba(85, 122, 161, 0.3);
    opacity: 0;
    visibility: hidden;
    
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      height: 112px;
      padding: 0;
      margin: 0;
    }
    
    & ul > li {
      list-style: none;
      font-size: 14px;
      line-height: 14px;
      color: #BCC9DA;
      cursor: pointer;
      
      &:hover {
        color: white;
      }
    }

    &_enable {
      opacity: 1;
      visibility: visible;
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 26px;
  height: 26px;
  text-align: right;
  cursor: pointer;
  & span {
    display: block;
    width: 26px;
    height: 1px;
    background-color: #ffffff;
    
    &:nth-child(2){
      width: 23px;
    }
  }
}

@media (max-width: 840px) {
  .nav {
    display: none;
  }
  .navbar {
    gap: 27px;
  }

  .hamburger {
    display: flex;
  }
}