.hero {
  height: 879px;
  padding-top: 80px;
  background: url('../img/hero/plane.jpg') right center no-repeat, url('../img/hero/flowers.jpg') left center no-repeat;

  &-wrapper {
    display: flex;
    justify-content: end;
  }

  &-text {
    margin-right: 40px;
    max-width: 750px;
    &__name {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    &__title {
      position: relative;
      margin-top: 20px;
      &::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 13px;
        display: block;
        width: 1px;
        height: 58px;
        background-color: #fff;
      }
    }
    &__item {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;

      &::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 10px;

        width: 5px;
        height: 5px;
        background-color: $secondary;
        // border: 1px solid rgba(255, 255, 255, 0.07);
        border-radius: 50%;
      }
    } 
    &__term {
      margin-top: 22px;
      font-weight: 600;
    }
  }

  &-contacts {
    padding-left: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;

      height: 60px;
      width: 1px;

      background-color: #fff;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 16px;

      &:first-child {
        margin-bottom: 16px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    &__button {
      margin-top: 36px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
  }

  &-flowers {
    display: flex;
    gap: 30px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &:hover, .flowers__name {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &__name {
      margin-top: 25px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    padding-top: 90px;
    
    text-align: center;
    width: 320px;
    height: 360px;
    background: url('../img/hero/equador.svg') 0 0/contain no-repeat;

    &__title {
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &__descr {
      font-size: 12px;
      line-height: 24px;
    }
  }
}


@media (min-width: 1920px) {
  .hero {
    background: url('../img/hero/plane.jpg') right top no-repeat, url('../img/hero/flowers5.jpg') left top/contain no-repeat;
  }
}

@media (max-width: 1200px) {
  .hero {
    height: 466px;
    padding-top: 57px;
    background: url('../img/hero/plane.jpg') right center/cover no-repeat;
  
    &-wrapper {
      justify-content: space-between;
    }
  
    &-text {
      margin-right: 100px;
      max-width: 470px;
      &__name {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
      }
      &__title {
        margin: 15px 0 9px 0;
        font-size: 32px;
        &::before {
          top: -25px;
        }
      }
      &__item {
        // position: relative;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
  
        &::before {
          left: -40px;
        }
      } 
      &__term {
        margin-top: 5px;
        font-weight: 600;
        line-height: 26px;
      }
    }
  
    &-contacts {
      padding-left: 14px;
      &__item {
        gap: 16px;
  
        &:first-child {
          margin-bottom: 9px;
        }
      }
  
      &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
      }
  
      &__button {
        height: 39px;
        padding: 13px 32px;
        margin-top: 36px;
        font-size: 10px;
        line-height: 12px;
        &::before {
          height: 20px;
          width: 20px;
        }
        &::after {
          height: 20px;
          width: 20px;
        }
      }
    }
  
    &-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  
    &-flowers {
      display: flex;
      gap: 16px;
  
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
  
        &:hover, .flowers__name {
          color: rgba(255, 255, 255, 0.5);
        }

      }
      &__img {
        width: 85px;
      }
      
      &__name {
        margin-top: 19px;
        font-weight: 600;
        font-size: 10px;
        line-height: 24px;
      }
    }
  
    &-map {
      position: relative;
      top: -40px;
      gap: 0;
  
      padding-top: 60px;
      
      width: 207px;
      height: 232px;
  
      &__title {
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
      }
  
      &__descr {
        font-size: 8px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 850px) {
  .hero {
    height: 550px;
  
  
    &-text {
      margin-right: 0px;
    }
  
    &-contacts {
  
      &__button {

        &::before {
          height: 20px;
          width: 20px;
        }
        &::after {
          height: 20px;
          width: 20px;
        }
      }
    }
  
    &-bottom {
      align-items: center;
    }
  
  }
}

@media (max-width: 600px) {
  .hero {
    height: 600px;
    padding-top: 35px;
  
    &-wrapper {
      flex-wrap: wrap;
    }
  
    &-contacts {
      padding-left: 0;
      &__item {
        display: none;
  
      }
  
     
      &__button {
        margin-top: 30px;
      }
      &::before {
        display: none;
      }
    }
  
    &-bottom {
      justify-content: space-around;
      margin-top: 60px;
    }
  
    &-flowers {
      &__item {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
      &__img {
        width: 90px;
      }
    }
  
    &-map {
      top: 0px;
  
      padding-top: 23px;
      
      width: 120px;
      height: 135px;

      & img {
        width: 10px;
      }
  
      &__title {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 12px;
      }
  
      &__descr {
        line-height: 12px;
      }
    }
  }
}



