.order {
  
  &__wrapper {
    display: flex;
    height: 585px;
  }

  &-form {
    background: url('../img/order/background.png') right center/cover no-repeat;
    width: 60%;
    padding: 120px 0;

    &__container {
      max-width: 620px;
      margin: auto;
    }
    &__buisness-name {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0.7;
    }
    &__title {
      margin: 20px 0 30px 0;
    }
    &__description {
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 24px;
    }
    &__inputs {
      display: flex;
      gap: 20px;
      margin-bottom: 50px;

      & input {
        width: 50%;
      }
    }
    &__footer {
      display: flex;

      & button {
        width: 50%;  
      }
    }

    &__checkbox {
      width: 50%;
      display: flex;
      align-items: center;
      & input {
        // width: 30px;
        margin-right: 16px;
      }
      & span {
        display: inline-block;
        width: 80%;
        font-size: 14px;
        line-height: 22px;
      }
    }

  }

  &-img {
    display: flex;
    width: 40%;

    &__first {
      background: url('../img/order/flowers1.png') center center/cover no-repeat;
      width: 50%;
    }
    &__second {
      background: url('../img/order/flowers2.png') center center/cover no-repeat;
      width: 50%;
    }
  }
}


@media (max-width: 1200px) {
  .order {
    &__wrapper {
      height: 650px;
    }
  
    &-form {
      width: 60%;
      padding: 85px 0;
  
      &__container {
        max-width: 417px;
        text-align: center;
      }
      &__title {
        font-size: 32px;
        margin: 16px 0 7px 0;
      }
      &__description {
        margin-bottom: 80px;
        font-size: 15px;
        line-height: 20px;
      }
      &__inputs {
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
  
        & input {
          width: 100%;
        }
      }
      &__footer {
        flex-direction: column;
        align-items: center;
        gap: 60px;
      }
  
      &__checkbox {
        width: 100%;
        & span {
          width: auto;
          text-align: left;
          font-size: 15px;
          line-height: 18px;
        }
      }
  
    }
  }
}


@media (max-width: 900px) {
  .order {
    &__wrapper {
      flex-direction: column;
      height: auto;
    }
  
    &-form {
      width: 100%;
    }
  
    &-img {
      width: 100%;
      &__first {
        height: 194px;
        width: 50%;
      }
      &__second {
        height: 194px;
        width: 50%;
      }
    }
  }
}

@media (max-width: 530px) {
  .order {
    &-form {
      &__container {
        padding: 0 20px;
      }
      &__title {
        font-size: 28px;
        line-height: 32px;
        margin: 10px 0 12px 0;
      }
      &__description {
        font-size: 13px;
      }
      &__footer {
        & button {
          width: 100%;
        }
      }
  
      &__checkbox {
        & span {
          font-size: 12px;
        }
      }
    }
  }
}