.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:16;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 17;
    display: block;
    height: 15px;
    width: 15px;
    background: url("/img/popup/close.svg") 0 0/contain;
  }


  &-img {
    background: url("/img/popup/popup.jpg") center center/cover no-repeat;
    width: 40%;
    height: 582px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 420px;
    margin: 60px auto;
    padding: 0 20px ;

    &__title {
      font-size: 42px;
      line-height: 60px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    &__checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    & button {
      width: 100%;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

}

.popup-card {
  position: relative;
  display: flex;
  max-width: 1010px;
  margin: 150px auto;
  background: #23303F;
  border: 1px solid rgba(85, 122, 161, 0.3);
}

@media (max-width: 960px) {
  .popup-card {
    flex-direction: column;
    max-width: 540px;
  }
  
  .popup {
    &-img {
      height: 292px;
      width: 100%;
    }
    &-form {
      height: 520px;
      text-align: center;
      justify-content: start;
      margin-bottom: 0;

      &__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 10px;
      }
  
      &__description {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 80px;
      }

      &__input {
        margin-bottom: 40px;
      }
  
      &__checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 60px;
        text-align: left;
      }
  
      & button {
        align-self: center;
        width: 260px;
        height: 65px;
      }
    }
  }
}

@media (max-width: 460px) {
  .popup-card {
    flex-direction: column;
    max-width: 290px;
  }
  
  .popup {
    &-img {
      height: 160px;
    }
    &-form {
      height: auto;
      margin: 0;
      padding: 28px;

      &__title {
        font-size: 18px;
        line-height: 60px;
      }
  
      &__description {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 27px;
      }

      &__input {
        margin-bottom: 30px;
      }
  
      &__checkbox {
        gap: 22px;
        margin-bottom: 48px;
        font-size: 8px;
        line-height: 16px;
      }
  
      & button {
        width: 100%;
      }
    }
  }
}