.tariff {
  padding: 120px 0;
  background-image: url("../../img/tariff/tariff-background.png");
  background-color: #041D2C;
  background-size: cover;
  

  &-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }


  &-card {
    position: relative;
    // display: flex;
    padding: 60px 40px;
    width: 490px;
    height: 266px;
    background: #23303F;
    border: 1px solid rgba(85, 122, 161, 0.3);

    &-download {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 490px;
      height: 266px;
      background: url('../img/tariff/download-bg.png') 0 0/cover;
    }

    &__wrapper {
      display: flex;
      margin-bottom: 42px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__title {
      line-height: 37px;
      color: #9FCCFF;
    }

    &__descr {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;

      color: #BCC9DA;
    }

    &__footer {
      font-size: 16px;
      line-height: 22px;
      color: #BCC9DA;
    }

    

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 50px;
      background: #9FCCFF;
      left: -1px;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  &-img {
    position: relative;
    margin-right: 30px;
    width: 60px;
    height: 82px;

    &__back {
      position: absolute;
      z-index: 0;
    }
    &__front {
      position: absolute;
      top: 25px;
      left: -10px;
      z-index: 1;
    }
  }
}

@media (max-width: 1535px) {
  .tariff {
    padding: 60px 0;

    &-card {
      padding: 38px 12px 38px 19px;
      width: 310px;
      height: 168px;
  
      &-download {
        width: 310px;
        height: 168px;
      }
  
      &__title {
        font-size: 20px;
        line-height: 24px;
      }
  
      &__descr {
        font-size: 15px;
        line-height: 20px;
      }
  
      &__footer {
        font-size: 10px;
        line-height: 16px;
      }
  
      &::before {
        top: 50%;
      }
    }
  
    &-img {
      margin-right: 18px;
      width: 50px;
      height: 68px;

      &__front {
        top: 13px;
        left: -5px;
      }
    }
  }
}

@media (max-width: 1005px) {
  .tariff {
    padding: 60px 0;
  
    &-list {
      flex-direction: column;
      align-items: center;
    }
  
  
    &-card {
      padding: 24px;
      width: 390px;
      height: 183px;
  
      &-download {
        width: 390px;
        height: 183px;
      }
  
      &__wrapper {
        margin-bottom: 16px;
      }

      &__title {
        font-size: 22px;
        line-height: 26px;
      }
  
      &__descr {
        font-size: 13px;
        line-height: 18px;
      }
    }
  
    &-img {
      width: 46px;
      height: 63px;
  
      &__front {
        top: 13px;
      }
    }
  }
  
}

@media (max-width: 420px) {
  .tariff {
    padding: 60px 0;
  
    &-list {
      flex-direction: column;
      align-items: center;
    }
  
  
    &-card {
      width: 290px;
  
      &-download {
        width: 290px;
      }
    }
  }
  
}